@model CSRT.Areas.Security.ViewModels.VehicleViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Driver Details</h4>
</div>
<div class="modal-body">


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        

    </dl>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Ok</button>
</div>
